.parent{
    background-color: orange;
    padding: 10px;
}
.child{
    background-color: #4cae4c;
    padding: 10px;
    margin-top: 20px;
}
.child1{
    background-color: #66afe9;
    padding: 10px;
}